<body>
    <div class="container-fluid  bg-dark">
        <div class="container-fluid  bg-dark d-flex justify-content-center align-items-center p-3">
            <form class="form-horizontal bg-light col-8 p-2 editNewsForm">
                <h2 class="heading text-center text-danger">
                    <%=title%> (-R-)
                </h2>
                <div class="mb-3 ">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="News Title" value=<%=news.title%>>
                </div>
                <div class="mb-3 ">
                    <label for="description" class="form-label">News Description</label>
                    <input type="text" class="form-control" id="description" placeholder="News description" name="description" value=<%=news.description%>>
                </div>
                <div class="mb-3 ">
                    <label for="url" class="form-label">Url</label>
                    <input type="text" class="form-control" id="url" placeholder="News url" name="newsUrl" value=<%=news.url%>>
                </div>
                <div class="mb-3 ">
                    <label for="url-image" class="form-label">Url to Image</label>
                    <input type="text" class="form-control" id="url-image" placeholder=" Url to news image" name="urlToImage" value=<%=news.urlToImage%>>
                </div>
                <div class="mb-3 ">
                    <label for="publishedAt" class="form-label">Published At</label>
                    <input type="text" class="form-control" id="publishedAt" name="publishedAt" value=<%=news.date%>>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-primary m-1 editNewsBtn" value=<%=news.id%>>Edit News</button>
                </div>
            </form>
        </div>
    </div>
</body>